:root {
  --bgc-primary: #ffa628;
  --text-color: #ffffff;
  --text-main: #e60000;
}

.overlay {
  opacity: 0.6;
}

@font-face {
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Sora", sans-serif;
}

img {
  cursor: pointer;
}

button {
  padding: 10px 20px;
  background-color: #ffa628;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

button:hover {
  background-color: rgb(240, 255, 255);
  color: var(--bgc-primary);
  letter-spacing: 3px;
  animation: displayItems ease-in 0.2s;
}

li {
  color: var(--bgc-primary);
  margin-top: 10px;
}

@keyframes displayItems {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(calc(-100px * 11));
  }
}
